* {
	box-sizing: border-box;
}

html, body {
	background-color: #000;
	color: #fff;
  height: 100vh;
	image-rendering: pixelated;
  margin: 0;
  padding: 0;
	width: 100vw;
}

button {
	border: none;
	background-color: transparent;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	padding: 0;
}

canvas:not(#render) {
	pointer-events: none;
}

.canvas-wrap,
.menu {
	border: 7px solid transparent;
	height: 119px;
	border-image-outset: 0;
	border-image-repeat: repeat;
	border-image-slice: 7;
}

.canvas-wrap {
	border-image-source: url('./assets/images/border.light.png');
}

.menu {
	border-image-source: url('./assets/images/border.dark.png');
}

.menu.stretch {
	grid-column: span 2;
}

.screen {
	display: grid;
	gap: 4px;
	grid-template-columns: 54px 116px 54px;
	height: 119px;
	padding: 4px;
	transform: scale(5);
	transform-origin: 0 0;
}

#game canvas {
	margin: -7px;
}

*[hidden="true"] {
	display: none;
}
