$black: #000;
$green: #64b964;
$grey: #646964;
$purple: #55415f;
$red: #d77355;
$white: #dcf5ff;
$yellow: #e6c86e;

* {
	box-sizing: border-box;
}

html, body {
	background-color: $black;
	color: $white;
  height: 100vh;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
  margin: 0;
  padding: 0;
	width: 100vw;
}

button {
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	font-size: inherit;
	outline: none;
	padding: 2px 3px;
	position: relative;
	text-align: left;
	width: 46px;

	&::after {
		background-color: $purple;
		clip-path: polygon(
			/* Top left */
			0 3px,
			1px 3px,
			1px 2px,
			2px 2px,
			2px 1px,
			3px 1px,
			3px 0,

			/* Top right */
			46px 0,

			/* Bottom right */
			46px 6px,
			45px 6px,
			45px 7px,
			44px 7px,
			44px 8px,
			43px 8px,
			43px 9px,

			/* Bottom left */
			0 9px
		);
		content: '';
		display: block;
		bottom: 0;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition: background-color 0.4s steps(3);
		z-index: -1;
	}

	&:hover::after {
		background-color: darken($purple, 10%);
	}

	&:focus::before {
		background-color: $yellow;
		content: '';
		display: block;
		height: 2px;
		margin-right: 1px;
		width: 2px;
	}

	&:not(:first-child) {
		margin-top: 4px;
	}

	&.center {
		display: flex;
		justify-content: center;
	}

	&.go {
		&::after {
			background-color: $green;
		}

		&:hover::after {
			background-color: darken($green, 10%);
		}
	}
}

canvas.text {
	display: inline-block;
	pointer-events: none;
}

h1, h2 {
	margin: 2px;
	padding: 4px 1px;
	position: relative;

	&::after,
	&::before {
		background-image: url('./assets/images/header-border.png');
		background-repeat: no-repeat;
		content: '';
		display: block;
		height: 2px;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
	}

	&::after {
		bottom: 0;
		transform: rotate(180deg);
	}

	&::before {
		top: 0;
	}

	div + div {
		margin-top: 1px;
	}
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.frame {
	display: flex;
	flex-direction: column;
	height: 119px;
	padding: 4px;
	position: relative;

	&::before {
		clip-path: polygon(
			/* Top left */
			0 6px,
			1px 6px,
			1px 5px,
			2px 5px,
			2px 4px,
			3px 4px,
			3px 3px,
			4px 3px,
			4px 2px,
			5px 2px,
			5px 1px,
			6px 1px,
			6px 0,

			/* Top right */
			100% 0,

			/* Bottom right */
			100% 113px,
			calc(100% - 1px) 113px,
			calc(100% - 1px) 114px,
			calc(100% - 2px) 114px,
			calc(100% - 2px) 115px,
			calc(100% - 3px) 115px,
			calc(100% - 3px) 116px,
			calc(100% - 4px) 116px,
			calc(100% - 4px) 117px,
			calc(100% - 5px) 117px,
			calc(100% - 5px) 118px,
			calc(100% - 6px) 118px,
			calc(100% - 6px) 119px,

			/* Bottom left */
			0 100%,

			/* Top left (inner) */
			0 6px,
			2px 6px,

			/* Bottom left (inner) */
			2px 117px,

			/* Bottom right (inner) */
			calc(100% - 7px) 117px,
			calc(100% - 7px) 116px,
			calc(100% - 6px) 116px,
			calc(100% - 6px) 115px,
			calc(100% - 5px) 115px,
			calc(100% - 5px) 114px,
			calc(100% - 4px) 114px,
			calc(100% - 4px) 113px,
			calc(100% - 3px) 113px,
			calc(100% - 3px) 112px,
			calc(100% - 2px) 112px,

			/* Top right (inner) */
			calc(100% - 2px) 2px,

			/* Top left (inner) */
			7px 2px,
			7px 3px,
			6px 3px,
			6px 4px,
			5px 4px,
			5px 5px,
			4px 5px,
			4px 6px,
			3px 6px,
			3px 7px,
			2px 7px,
		);
		content: '';
		display: block;
		bottom: 0;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	&.dark::before {
		background-color: $purple;
	}

	&.light::before {
		background-color: $white;
	}

	.bottom {
		margin-top: auto;
	}

	&.center {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

.pull-right {
	float: right;
}

.text-right {
	text-align: right;
}

.score {
	margin: 4px 2px 0;

	.value {
		margin-top: 2px;
	}
}

.screen {
	display: grid;
	gap: 4px;
	grid-template-columns: 54px 116px 54px;
	height: 119px;
}

.stretch {
	grid-column: span 2;
}

#brand {
	background-image: url('./assets/images/brand.png');
	height: 22px;
	width: 132px;
}

#canvas-wrap {
	background-image: url('./assets/images/wall.png');
	background-repeat: repeat-x;
	clip-path: polygon(
		0 6px,
		1px 6px,
		1px 5px,
		2px 5px,
		2px 4px,
		3px 4px,
		3px 3px,
		4px 3px,
		4px 2px,
		5px 2px,
		5px 1px,
		6px 1px,
		6px 0,
		100% 0,
		100% 100%,
		0 100%
	);

	> canvas {
		margin: -2px 6px 2px;
	}
}

#game-wrapper {
	height: 127px;
	padding: 4px;
	transform-origin: 0 0;
	transition: transform 0.5s;
	width: 240px;
}

#level-recap {
	&:not([hidden]) {
		background-color: rgba($black, 0.8);
		bottom: 0;
		display: grid;
		left: 0;
		place-items: center;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;
	}

	> div {
		display: grid;
		gap: 4px;
		grid-template-columns: 1fr auto auto;

		header {
			padding-bottom: 4px;
		}

		#final-score {
			padding-top: 4px;
		}

		header, #final-score {
			grid-column: span 3;
		}
	}
}

#play-info {
	time {
		align-items: center;
		background-image: url('./assets/images/timer-border.png');
		background-repeat: no-repeat;
		margin: 2px;
		min-width: 42px;
		padding: 4px;
		text-align: center;
	}

	#skip-timer {
		margin-bottom: 2px;
	}
}

#tile-queue {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	height: 100%;
	overflow: hidden;

	header {
		padding: 4px;
	}

	#empty-queue-message {
		display: none;
	}

	[hidden] + [hidden] + #empty-queue-message {
		align-items: center;
		display: flex;
		flex-direction: column;
		gap: 2px;
		height: 100%;
		justify-content: center;
		place-items: center;
	}
}

#tiles-remaining {
	background-color: $grey;
	border-top: 1px solid $purple;
	bottom: 1px;
	clip-path: polygon(
		0 0,
		46px 0,
		46px 2px,
		45px 2px,
		45px 3px,
		0 3px
	);
	height: 3px;
	left: 2px;
	position: absolute;
	width: 46px;

	&::before {
		// --c: status color
		// --p: percent of tile queue that's been used

		background-color: var(--c);
		bottom: 0;
		content: '';
		display: block;
		left: 0;
		position: absolute;
		top: 0;
		width: calc(100% - var(--p));
	}
}

*[hidden] {
	display: none;
}
