$black: #000;
$green: #64b964;
$grey: #646964;
$purple: #55415f;
$red: #d77355;
$white: #dcf5ff;
$yellow: #e6c86e;

* {
	box-sizing: border-box;
}

html, body {
	background-color: $black;
	color: $white;
  height: 100vh;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
  margin: 0;
  padding: 0;
	width: 100vw;
}

button {
	align-items: center;
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
	display: flex;
	font-family: inherit;
	font-size: inherit;
	min-width: 46px;
	outline: none;
	padding: 2px 3px;
	position: relative;
	text-align: left;

	&::after {
		background-color: $purple;
		clip-path: polygon(
			/* Top left */
			0 3px,
			1px 3px,
			1px 2px,
			2px 2px,
			2px 1px,
			3px 1px,
			3px 0,

			/* Top right */
			100% 0,

			/* Bottom right */
			100% calc(100% - 3px),
			calc(100% - 1px) calc(100% - 3px),
			calc(100% - 1px) calc(100% - 2px),
			calc(100% - 2px) calc(100% - 2px),
			calc(100% - 2px) calc(100% - 1px),
			calc(100% - 3px) calc(100% - 1px),
			calc(100% - 3px) 100%,

			/* Bottom left */
			0 100%
		);
		content: '';
		display: block;
		bottom: 0;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
		transition: background-color 0.4s steps(3);
		z-index: -1;
	}

	&:hover::after {
		background-color: darken($purple, 10%);
	}

	&:focus::before {
		background-color: $yellow;
		content: '';
		display: block;
		height: 2px;
		margin-right: 1px;
		width: 2px;
	}

	&:not(:first-child) {
		margin-top: 4px;
	}

	&.center {
		text-align: center;
	}

	&.go {
		&::after {
			background-color: $green;
		}

		&:hover::after {
			background-color: darken($green, 10%);
		}
	}

	&.option {
		border-color: transparent;
		border-style: solid;
		border-width: 0;
		border-bottom-width: 1px;
		border-top-width: 1px;
		margin-left: 2px;
		margin-right: -2px;
		min-width: auto;
		padding: 1px 0;
		transition: border-color 0.4s steps(4);

		&.active,
		&:focus,
		&:hover {
			border-color: $purple;
		}

		&::after {
			display: none;
		}
	}
}

canvas.text {
	display: inline-block;
	pointer-events: none;
}

dl {
	margin: 0 2px 0;
}

dd {
	margin: 2px 0 0;
}

dt {
	margin-top: 4px;
}

h1, h2 {
	margin: 2px;
	padding: 4px 1px;
	position: relative;

	&::after,
	&::before {
		background-image: url('./assets/images/header-border.png');
		background-repeat: no-repeat;
		content: '';
		display: block;
		height: 2px;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
	}

	&::after {
		bottom: 0;
		transform: rotate(180deg);
	}

	&::before {
		top: 0;
	}

	div + div {
		margin-top: 1px;
	}
}

input {
	&[type=range] {
		appearance: none;
		background-color: transparent;
		border: 1px solid transparent;
		margin: 0;
		outline: none;
		width: 60px;

		&::-webkit-slider-runnable-track {
			background-color: $white;
			height: 1px;
		}

		&::-webkit-slider-thumb {
			appearance: none;
			background-color: $white;
			cursor: pointer;
			height: 3px;
			margin-top: -1px;
			width: 3px;
		}

		&:focus {
			border-color: $purple;
		}
	}
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.frame {
	display: flex;
	flex-direction: column;
	height: 119px;
	padding: 4px;
	position: relative;

	&::before {
		// border: 7px solid transparent;
		clip-path: polygon(
			/* Top left */
			0 6px,
			1px 6px,
			1px 5px,
			2px 5px,
			2px 4px,
			3px 4px,
			3px 3px,
			4px 3px,
			4px 2px,
			5px 2px,
			5px 1px,
			6px 1px,
			6px 0,

			/* Top right */
			100% 0,

			/* Bottom right */
			100% calc(100% - 6px),
			calc(100% - 1px) calc(100% - 6px),
			calc(100% - 1px) calc(100% - 5px),
			calc(100% - 2px) calc(100% - 5px),
			calc(100% - 2px) calc(100% - 4px),
			calc(100% - 3px) calc(100% - 4px),
			calc(100% - 3px) calc(100% - 3px),
			calc(100% - 4px) calc(100% - 3px),
			calc(100% - 4px) calc(100% - 2px),
			calc(100% - 5px) calc(100% - 2px),
			calc(100% - 5px) calc(100% - 1px),
			calc(100% - 6px) calc(100% - 1px),
			calc(100% - 6px) 100%,

			/* Bottom left */
			0 100%,

			/* Top left (inner) */
			0 6px,
			2px 6px,

			/* Bottom left (inner) */
			2px calc(100% - 2px),

			/* Bottom right (inner) */
			calc(100% - 7px) calc(100% - 2px),
			calc(100% - 7px) calc(100% - 3px),
			calc(100% - 6px) calc(100% - 3px),
			calc(100% - 6px) calc(100% - 4px),
			calc(100% - 5px) calc(100% - 4px),
			calc(100% - 5px) calc(100% - 5px),
			calc(100% - 4px) calc(100% - 5px),
			calc(100% - 4px) calc(100% - 6px),
			calc(100% - 3px) calc(100% - 6px),
			calc(100% - 3px) calc(100% - 7px),
			calc(100% - 2px) calc(100% - 7px),

			/* Top right (inner) */
			calc(100% - 2px) 2px,

			/* Top left (inner) */
			7px 2px,
			7px 3px,
			6px 3px,
			6px 4px,
			5px 4px,
			5px 5px,
			4px 5px,
			4px 6px,
			3px 6px,
			3px 7px,
			2px 7px,
		);
		content: '';
		display: block;
		// border-image-repeat: repeat;
		// border-image-slice: 7;
		bottom: 0;
		left: 0;
		pointer-events: none;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.dark::before {
		background-color: $purple;
		// border-image-source: url('./assets/images/border.dark.png');
	}

	&.light::before {
		background-color: $white;
		// border-image-source: url('./assets/images/border.light.png');
	}

	.bottom {
		margin-top: auto;
	}

	&.center {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

.pull-right {
	text-align: right;
}

.setting {
	border-bottom: 1px solid $purple;
	display: flex;
	justify-content: space-between;
	margin-top: 4px;
	padding: 1px 2px;

	input[type=checkbox],
	input[type=radio] {
		height: 0;
		margin: 0;
		opacity: 0;
		width: 0;
	}

	label {
		display: inline-block;
	}

	.name {
		align-items: center;
		display: flex;
	}

	.value {
		cursor: pointer;
		text-align: right;
	}

	&:focus-within .name {
		&::before {
			background-color: $yellow;
			content: '';
			display: block;
			height: 2px;
			margin-right: 1px;
			width: 2px;
		}
	}

	&.disabled {
		opacity: 0.5;
	}
}

.stretch {
	grid-column: span 2;
}

.screen {
	display: grid;
	gap: 4px;
	grid-template-columns: 54px 116px 54px;
	height: 119px;
}

#brand {
	background-image: url('./assets/images/brand.png');
	height: 22px;
	width: 132px;
}

#canvas-wrap {
	background-image: url('./assets/images/wall.png');
	background-repeat: repeat-x;
	clip-path: polygon(
		0 6px,
		1px 6px,
		1px 5px,
		2px 5px,
		2px 4px,
		3px 4px,
		3px 3px,
		4px 3px,
		4px 2px,
		5px 2px,
		5px 1px,
		6px 1px,
		6px 0,
		100% 0,
		100% 100%,
		0 100%
	);

	canvas {
		margin: 12px 6px 2px;
	}
}

#game-wrapper {
	height: 127px;
	padding: 4px;
	transform-origin: 0 0;
	transition: transform 0.5s;
	width: 240px;
}

#play-info time {
	align-items: center;
	background-image: url('./assets/images/timer-border.png');
	background-repeat: no-repeat;
	margin: 2px;
	min-width: 42px;
	padding: 4px;
	text-align: center;
}

#settings-menu {
	> :nth-child(2) {
		> :focus-within > .setting {
			opacity: 0.5;
		}

		.setting:focus-within {
			opacity: 1;
		}
	}
}

*[hidden="true"] {
	display: none;
}
